body{
    background-image: url('./assets/bg.jpg')!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    background-color:green;
}